@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*


/* shared style */
.txt-color-blue{
    color: #01ACFD;
}
.txt-color-orange{
    color: #FEA301;
}
.txt-color-black{
    color:#111111;  
}
.txt-color-gray{
    color: #808080;

}
.txt-color-sky-blue{
    color: #5D58EF;

}
.display-flex{
    display: flex;
}
.bg-clr-orange{
    background-color: #FEA301;
}
.bg-clr-blk{
    background-color: #111111;
}
.bg-clr-blue{
    background-color:#01ACFD ;
}



/* navbar */
.navbar{
    justify-content: space-around;
    margin-top: 36px;

}
.logo h3{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px; 
}
.nav-links{
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    margin-right: 30px;
}
.hamburg{
    display: none;
}

.btn-primary{
    /* background-color: #FEA301; */
    height: 45px;
    width: 170px;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}
.btn-enroll{
    height: 45px;
    width: 170px;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;

}
.marquee{
    margin-top: 20px;
}
.banner{
    padding: 100px;
}
.banner-content{
    margin-top: 100px;
    padding: 20px;
    
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 24px;
}
.banner-image{
    margin-left: 30px;
    
}


/* curriculam style */
.curriculum{
    background-image: url(../assets/bg.png);
    height: 870;
}

.curiculum-title{
    font-size: 2.75rem;
    font-weight:700 ;
    text-align: center;

}
.curriculum-container{
  
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.curriculum-card{
    height: 470px;
    width: 360px;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.09);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
   
}
.card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.card-title{
    font-size: 24px;
    font-weight: 700;
}
.card-description{
   
   align-items: center;
}
.card-footer{
    font-size: 1rem;
    font-weight: 700;
}

/* arrow style*/
.arrow h2{
    color: white;
    background-color: #FEA301;
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 30px;

}
.arrow-title{
    text-align: center;

}

/* story style */
.stories-title{
    font-size: 2.75rem;
    font-weight:700 ;
    text-align: center;
    margin-bottom: -20px;
}
.big-card{
    height: 620px;
    width: 530px;
    margin-right: 70px;
    margin-left: 140px;
    display: grid;
    place-items: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.09);
    border-radius: 16px ;
    background: url(),rgb(255, 255, 255);
    

}
.big-card img{
    width: 100%;
    height: 100%;
    margin-top: 0 auto;
    border-radius: 16px 16px 0px 0px;
}
.story-container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.date-name{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: #01ACFD;
    height: 2.5rem;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    margin-top: -20px;
    margin-left:-190px;
}
.story-title{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.35px;
    padding: 20px;
}
.story-description{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    padding: 20px;
}
.story-card{
    height: 300px;
    width: 280px;
    margin-bottom: 20px;
    margin-right: 15px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.09);
    border-radius: 16px ;
    background: url(),rgb(255, 255, 255);

}
.story-card img{
    width: 100%;
    margin-top: 0 auto;
    border-radius: 16px 16px 0px 0px;
}
.story-card h4{
    background-color:rgb(149, 178, 38);
    height: 2rem;
    width: 150px;
    font-size: 13px;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: -25px; 
    margin-left: 40px;
    position: relative;
    z-index: 1;
    
}
.clr-blue h4{
    background-color: rgb(93, 88, 240);
}
.story-card-title{
    padding: 35px;
    font-size: 15.34px;
    font-weight: 700;
}
.stories, .view-btn{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}
.stories{
    border: 2px solid white;
    height: 1000px;
    width: 100%;
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
}
.card-section{
    margin-top: 150px;

}

/* footer style */
.footer{
    height: 520px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;
    place-items: center;
}
.footer-title{
    color: white;
    font-size: 2rem;
}
.footer-description{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-top: 25px;
}
.footer-logo{
    margin-left: 50px;
}
.footer-nav{
    color: white;
}
.footer-nav h3{
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.footer-nav li{
    list-style: none;
    margin-bottom: 20px;
    font-size:20px ;
    font-weight: 400;
}
.footer-nav a{
    text-decoration: none;
    color: white;
    
}
.footer-brand{
    color: white;
    font-size: 23px;
    margin-top: -40px;

}
.footer-brand img{
    margin-right: 10px;
    margin-top: 20px;
}
.copyright{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-left: -200px;
}

/* small device */
@media screen and (max-width: 576px){
    .navbar,
    .banner,
    .stories,
    .card-section,
    .footer
    {
        flex-direction: column;
       
    }

    .banner{
        display: flex;
        flex-direction: column-reverse;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; 

    }
    .banner-title{
        font-size: 25px;
        text-align: center; 
       
    }
    .banner-description{
        text-align: center;
        font-size: 14px;
        width: 370px;
        height: 54px;
        margin-bottom: 60px;
    }
    .nav-links,
    .btn-primary,
    .nav-title,
    .big-card{
        display: none;

    }
    .logo{
        margin-left: 20px;
    }
    .hamburg{
        display: block;
        display: flex;
        justify-content: right;
        margin-top: -50px;
        font-size: 40px;
    }
   
    .curriculum-container, .footer{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .story-container{
        flex-direction: column;
        grid-template-columns: repeat(2,2fr);  
        padding: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .story-card{
        width: 90%;
    }
    .btn-enroll{
        display: block;
        margin: 0 auto;
    }
    .footer{
        height: 800px;
        display: grid;
        justify-items: start;
        padding-left: 20px;
  
    }
    .footer-logo{
        margin: 0;
        padding: 0;
        
        
        
    }
    
    .footer-nav{
        margin-top:-120px;
        
    }
   .copyright{
    margin: 0 auto;
   }
    
}